<h3 class="mb-3">{{repo.name}}</h3>

<dl class="row">
  <dt class="col-2">URL</dt>
  <dd class="col">{{repo.html_url}}</dd>

  <div class="w-100"></div>

  <dt class="col-2">Description</dt>
  <dd class="col">{{repo.description}}</dd>

  <div class="w-100"></div>

  <dt class="col-2">Forks count</dt>
  <dd class="col">{{repo.forks_count}}</dd>

  <div class="w-100"></div>

  <dt class="col-2">Stargazers count</dt>
  <dd class="col">{{repo.stargazers_count}}</dd>

  <div class="w-100"></div>

  <dt class="col-2">Open Issues count</dt>
  <dd class="col">{{repo.open_issues_count}}</dd>
</dl>
