<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
  |
  <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
</ng-template>

<div class="form-group">
  <input
    type="text"
    class="form-control"
    [class.is-invalid]="searchFailed"
    [(ngModel)]="repo"
    (ngModelChange)="modelChanged($event)"
    [ngbTypeahead]="search"
    placeholder="Search GitHub repositories..."
    [resultTemplate]="rt"
    [inputFormatter]="formatter"
  />
  <span *ngIf="searching">searching...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">
    Sorry, suggestions could not be loaded.
  </div>
</div>
